* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  background-color: rgb(17, 29, 42);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.home h1 {
  color: white;
  color: rgb(76, 130, 186);
  font-family: poppins;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
.home h1 {
  color: rgb(76, 130, 186);
  font-family: poppins;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  user-select: none;
  border-radius: 15px;
}
.chatContainer {
  width: 70vw;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
form {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.chat {
  /* margin: 3rem 0; */

  color: white;
}
form input[type="text"] {
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 0.7rem 0.7rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  outline: none;
  border: 2.5px solid grey;
}
form input[type="text"]::placeholder {
  color: rgb(145, 145, 145);
}
form input[type="submit"] {
  width: 20%;
  background-color: rgb(76, 130, 186);
  color: white;
  font-size: 1.1rem;
  padding: 0.7rem 0.5rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(94, 160, 230);
}
